/* body{

    padding: 0%;
    margin: 0%;
    justify-content: center;
    
    }
    .card {
    padding: 40px;
    display: flex;
    border: solid black;
    justify-content: center;
    }
    
    h1 {
    text-align: center;
    
    }
    
    
    .information{
      
      /* position: absolute;
      right: 150px; */
      /* display: flex;
      flex-wrap: wrap;
      width: 200px;
      height: 200px;
      padding-left: 20px;
      padding-top: 20px;
      border: solid black;
      padding-right: 20px;
    }
    
    img{
        height: 150px;
        width: 150px;
        border: dotted red;
        padding: 10px;
        margin-right: 10px;
    }
 */ */
